<div class="container">
	<h1>Nuevo Producto</h1>
	<%= form_for @product do |f|%>
	<div class="form-group">
		<%= f.text_field :name, class: "form-control", placeholder: "Nombre del producto"%>
	</div>
	<div class="form-group">
		<%= f.text_field :price, class: "form-control", placeholder: "Precio del producto"%>
	</div>
	<% for category in @categories %> 
	
	<%= check_box_tag 'category_ids[]', category.id %>  
	<%= category.name %> <br>  
	<% end %>
	<%#= f.collection_check_boxes :product, :category_ids, Category.all, :id %>
	<!-- <div class="form-group">
		<%#= check_box_tag(:perfumes) %>
		<%#= label_tag(:perfumes, "Perfurmes") %> <br>

		<%#= check_box_tag(:libros) %>
		<%#= label_tag(:libros, "libros") %> <br>

		<%#= check_box_tag(:tecnologia) %>
		<%#= label_tag(:tecnologia, "tecnología") %> <br>

		<%#= check_box_tag(:aseo) %>
		<%#= label_tag(:aseo, "Aseo") %> <br>

		<%#= check_box_tag(:juguetes) %>
		<%#= label_tag(:juguetes, "Juguetes") %> <br>

		<%#= check_box_tag(:ropa) %>
		<%#= label_tag(:ropa, "Ropa") %> <br>

		<%#= check_box_tag(:oficina) %>
		<%#= label_tag(:oficina, "Oficina") %> <br>

		<%#= check_box_tag(:mascotas) %>
		<%#= label_tag(:mascotas, "Mascotas") %> <br>
	</div> --> 
	<%= f.submit class: "btn btn-primary" %>
	
	<% end %>
</div>
